.chefmenu-title
  font-size x-large
  font: normal 300 22px / 25px "Oswald", Helvetica, Arial, Verdana, sans-serif
  text-decoration: underline;

.chefmenu-header
  font-weight: bold;

.chefmenu-block
  text-align: center

// .chefmenu-text
