softPurple = rgb(120, 132, 205)
bottomContainer = rgb(175, 175, 175)
dividerLine = #d8d6d6
headerTextColor = white
navBarBackground = rgb(47, 59, 161)
navBarNormalText = rgb(160, 159, 157)
navBarSelectBackground = rgb(25, 30, 128)
navBarSelectText = white

:export
  softPurple softPurple
  bottomContainer bottomContainer
  dividerLine dividerLine
  headerTextColor headerTextColor
  navBarBackground navBarBackground
  navBarNormalText navBarNormalText
  navBarSelectBackground navBarSelectBackground
  navBarSelectText navBarSelectText
