iconContrastColor = white
youtube = rgb(255, 73, 48)
facebook = #3B5998
twitter = #55ACEE
googlePlus = #dd4b39
linkedin = #007bb5

:export
  iconContrastColor iconContrastColor
  youtube youtube
  facebook facebook
  twitter twitter
  googlePlus googlePlus
  linkedin linkedin
