<p>
  il-fornello-about works!
</p>

<div>ASSIGNMENTS! Please find below, and advise me when you think you can complete it by. Once completed, I would need to book
  in your onsite interview (1hr).</div>
<div>The most common slip up, is that when the solution/code is run, the homepage for the Angular doesn’t look like the attached
  visual. Please ensure it looks like the attached visual. This is a Front end position, so the solution needs to be as close
  to identical as possible, and you have no time constraints for CSS Stylings etc..
</div>
<div>They are also looking for Angular best practices (components, etc..).</div>
<div>
  I understand from the Hiring Manager it shouldn’t take more than a few hours to complete each exercise. Please add your completed
  assignments to a Github Repository and send me the links once completed.
</div>
<div>
  HTML5 and Angular 2+ A. Starting with index.html, create a homepage that look like the attached visual (visual.png), using
  Angular 2+, Bootstrap and CSS3. B. Add a row after “Meet our Culinary Specialists” that displays the restaurant’s menu
  in a grid. Demonstrate data binding to an array of JSON objects.
</div>
<div>
  .NET or Java or JavaScript Using only core C# or Java or JavaScript language (no open-source libraries), write a method that
  takes in a file as input and returns true or false whether the contents of the file is a valid solution to a Sudoku puzzle.
  The solution should handle exception scenarios.
</div>
<div>(You can create additional classes as necessary. Please keep all classes in same solution. Also include unit tests and test
  case files used.) https://en.wikipedia.org/wiki/Sudoku
</div>
<div>Expected file format attached (input_sudoku.txt)</div>
<div>Please review this, and remember this is half of the interview process, so let me know if you have any questions.</div>
<div>
  <img src="assets/img/visual.png">

</div>
